<div class="nav-scroller py-1 mb-2 ">
    <nav class="nav d-flex justify-content-between ">
        <a class="p-2 text-white" href="/category/World">World</a>
        <a class="p-2 text-white" href="/category/Technology">Technology</a>
        <a class="p-2 text-white" href="/category/Design">Design</a>
        <a class="p-2 text-white" href="/category/Culture">Culture</a>
        <a class="p-2 text-white" href="/category/Business">Business</a>
        <a class="p-2 text-white" href="/category/Politics">Politics</a>
        <a class="p-2 text-white" href="/category/Opinion">Opinion</a>
        <a class="p-2 text-white" href="/category/Science">Science</a>
        <a class="p-2 text-white" href="/category/Health">Health</a>
        <a class="p-2 text-white" href="/category/Style">Style</a>
        <a class="p-2 text-white" href="/category/Travel">Travel</a>
    </nav>
</div>
